.card {
  grid-column: 1/-1;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @include hover(transform, scale(1.05));

  &:not(:last-child) {
    margin-bottom: 56px;
  }

  @include onTablet {
    grid-column: span 4;
  }

  @include onDesktop {
    grid-column: span 3;

    &--left {
      grid-column: 3/6;
    }
  }

  &__photo {
    height: 100%;
    width: 100%;
    margin-bottom: 16px;

    object-fit: fill;

    @include onTablet {
      height: 424px;
    }

    @include onDesktop {
      height: 512px;
    }
  }

  &__name {
    color: $main-gray;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.32px;
    text-transform: uppercase;

    margin-bottom: 8px;
  }

  &__text {
    margin-bottom: 24px;
  }

  &__arrow {
    height: $icon-size;
    width: $icon-size;
  }

  &__order {
    display: flex;
    align-items: center;
    gap: 4px;

    &__button {
      color: $main-orange;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: 0.32px;
      text-transform: uppercase;
    }
  }
}
